<body>
<h3><%= link_to @shelter.name, "/shelters/#{@shelter.id}" %></h3>

<p>Address: <%= @shelter.address %></p>
<p>City: <%= @shelter.city %></p>
<p>State: <%= @shelter.state %></p>
<p>Zip: <%= @shelter.zip %></p>

<p><%= link_to "Update Shelter", "/shelters/#{@shelter.id}/edit" %></p>

<p><%= link_to "Delete Shelter", "/shelters/#{@shelter.id}", method: :delete%></p>

<p><%= link_to "New Review", "/shelters/#{@shelter.id}/reviews/new"%></p>

<footer><%= link_to "All Pets Here", "/shelters/#{@shelter.id}/pets" %></footer>

<% @shelter.reviews.each do |review| %>
<section id = "review-<%= review.id %>">
  <p><%= review.title %></p>
  <p><%= review.rating %></p>
  <p><%= review.content %></p>
  <% if review.pic != nil %>
  <img src=<%= review.pic %>
  <% end %>
  <br>
  <%= link_to "Edit Review", "/shelters/#{@shelter.id}/#{review.id}/edit" %><br>
  <%= link_to "Delete Review", "/shelters/#{@shelter.id}/#{review.id}", method: :delete%>
</section>
<% end %>
</body>
