<h1>Application for <%= @application.name %></h1>

<h2>Contact Info:</h2>
<%= @application.address %>
<%= @application.city %>
<%= @application.state %>
<%= @application.zip %>
<%= @application.phone_num %>

<p>Applying for:</p>
<%= @application.pets.each do |pet| %>
<section class = pet-<%= pet.id %>>
  <p><%=link_to "#{pet.name}", "/pets/#{pet.id}" %></p>
  <p><%= link_to "Approve application", "/applications/#{@application.id}/pets/#{pet.id}", method: :patch %></p>
</section>
<% end %>

<%= @application.description %>
