<body>
  <h1><%= link_to "Shelter List", "/shelters" %></h1>
  <h2><%= link_to "Pet List", "/pets" %></h2>
  <h3>All Pets</h3>

  <% @pets.each do |pet| %>
    <img src=<%= pet.image %>>
    <p>Name: <%= link_to pet.name, "/pets/#{pet.id}" %></p>
    <p>Approximate Age: <%= pet.approx_age %></p>
    <p>Sex: <%= pet.sex %></p>
    <p>Current Shelter: <%= link_to pet.shelter.name, "/shelters/#{pet.shelter.id}" %> </p><br></br>
    <p><%= link_to "Edit #{pet.name}", "/pets/#{pet.id}/edit" %></p>
    <p><%= link_to "Delete #{pet.name}", "/pets/#{pet.id}", method: :delete %></p>
  <% end %>
</body>
