<body>
  <h1><%= link_to "Shelter List", "/shelters" %></h1>
  <h2><%= link_to "Pet List", "/pets" %></h2>
  <h3><%= @pet.name %></h3>

  <img src= <%= @pet.image %>>
  <p>Description: <%= @pet.description %></p>
  <p>Age: <%= @pet.approx_age %></p>
  <p>Sex: <%= @pet.sex %></p>

  <% if @pet.adoptability == true%>
    <p>Adoption is a go!</p>
  <% else %>
    <p>Adoption is Pending</p>
  <% end %>

  <%= link_to "Update Pet", "/pets/#{@pet.id}/edit" %>

  <%= link_to "Delete Pet", "/pets/#{@pet.id}", method: :delete %>
</body>
