<body>
  <h3><%= @pet.name %></h3>

  <% flash.each do |name, msg| %>
  <section class = <%= name %>>
    <p><%= msg %></p>
  </section>
  <% end %>

  <%= link_to "View all Applicants", "/pets/#{@pet.id}/applicants" %>

  <img src= <%= @pet.image %>>

  <% if favorites.include?(@pet.id) %>
    <%= link_to "Remove From Favorites", "/favorites/#{@pet.id}", method: :delete %>
  <% else %>
   <%= link_to "Favorite this Pet", "/favorites/#{@pet.id}", method: :patch %>
  <% end %>

  <p>Description: <%= @pet.description %></p>
  <p>Age: <%= @pet.approx_age %></p>
  <p>Sex: <%= @pet.sex %></p>

  <% if @pet.adoptability == false %>
    <p>Adoption is Pending</p>
    <p>On Hold For: <%= @name.name %></p>
  <% end %>

  <%= link_to "Update Pet", "/pets/#{@pet.id}/edit" %>

  <%= link_to "Delete Pet", "/pets/#{@pet.id}", method: :delete %>
</body>
