<h1>New Review</h1>

<%= form_tag "/shelters/#{@shelter.id}" do %>
  <%= label_tag :title %>
  <%= text_field_tag :title%>
  <%= label_tag :rating %>
  <%= text_field_tag :rating %>
  <%= label_tag :content %>
  <%= text_field_tag :content %>
  <%= label_tag :pic %>
  <%= text_field_tag :pic %>
  <%= submit_tag "Submit Review" %>
<% end %>


<% flash.each do |name,msg| %>
  <%= content_tag :div, msg, class: name %>
<% end %>
